<% provide(:title, "Home") %>

<section class="hero is-fullheight is-primary">
    <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-size-1 is-uppercase has-text-weight-light">
            Welcome
          </h1>
          <h2 class="subtitle">
            This is a sample blog built with Ruby on Rails and Bulma!
          </h2>
        </div>
    </div>
</section>