<% provide(:title, @user.name) %>
<section class="section">
  <aside class="level">
    <div class="level-left">
      <div class="level-item user_info">
        <%= gravatar_for @user %>
      </div>
      <div class="level-item has-text-centered user_info">
        <h1 class="title">
          <%= @user.name %>
        </h1>
      </div>
    </div>
  </aside>
</section>