body {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100vh;
}

.navbar-main {
  
}
// .header {
//   padding:2rem 1.5rem;
// }

.section {
  display:flex;
  flex:1 0 auto;
  margin-top: 50px;
}

.form-help {
  margin-top: 20px;
}