body {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:100vh;
}

.navbar-main {
  
}
// .header {
//   padding:2rem 1.5rem;
// }

.section {
  display:flex;
  flex:1 0 auto;
  margin-top: 50px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 50px;
  box-sizing: border-box;
}